# IDE-specific files
/.vscode

# Temporary files and directories
/tmp

# Local development and testing
/dev
/chroma
/.config
/.legacy
debug.log

# Build output
/summary.md

# All .env files
*.env

# Miscellaneous system files