# IDE-specific files
/.vscode

# Temporary files and directories
/tmp

# Local development and testing
/dev
/chroma
/.config
/.legacy
/.cursor
.cursorrules
seaq*.yaml
debug.log
cache.db

# Build output
/summary.md

# All .env files
*.env

# Miscellaneous system files
